TARGET_URI=root@10.42.0.160

echo "Trying to upload the firmware '${FIRMWARE}' to '${TARGET_URI}'"

scp ${FIRMWARE} ${TARGET_URI}:/lib/firmware

ssh ${TARGET_URI} "\
	echo stop > /sys/class/remoteproc/remoteproc0/state; \
	echo start > /sys/class/remoteproc/remoteproc0/state; \
	"